##
# Minimalistic nginx configuration for only redirecting all requests into their www. subdomain
##

# Log errors for debugging
error_log /dev/stderr warn;

events {
    worker_connections 8000;
}

http {
    # Hide nginx version
    server_tokens off;

    # Close connections immediately after the redirect
    keepalive_timeout 0;

    # Set real IP from Google Cloud http balancer
    # source: https://cloud.google.com/compute/docs/load-balancing/http/
    real_ip_header X-Forwarded-For;
    real_ip_recursive on;

    # Trust Google cloud europe-west1 for X-Forwarded-For header
    set_real_ip_from 10.132.0.0/20;

    # Our ingress IP was in this range
    # Google overrides original
    set_real_ip_from ${NGINX_TRUSTED_IP};

    # Use minimal logging
    log_format proxied '[$time_local] $status $remote_addr $http_host "$request" "$http_user_agent" $http_x_forwarded_for';

    server {

        listen ${NGINX_PORT} default_server;
        access_log /dev/stdout proxied;

        return  301 http://www.$http_host$request_uri;
    }

    # Catch IP-addresses, This is for Google HealthCheck bot and for people who test the public IP-address.
    server {
        listen ${NGINX_PORT};
        server_name   ~^\d+\.\d+\.\d+.\d+$;
        access_log off;
        return 200 "I think you're just testing this?\nPoint your domain here to redirect into www. subdomain.";
    }
}
